@font-face {
    font-family: 'PTSerif';
    src: local('PT Serif'),
    local('PTSerif-Regular'),
    url('../fonts/ptserif/ptserif.woff2') format('woff2'),
    url('../fonts/ptserif/ptserif.woff') format('woff'),
    url('../fonts/ptserif/ptserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerif';
    src: local('PT Serif Italic'),
    local('PTSerif-Italic'),
    url('../fonts/ptserif/ptserifitalic.woff2') format('woff2'),
    url('../fonts/ptserif/ptserifitalic.woff') format('woff'),
    url('../fonts/ptserif/ptserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.woff') format('woff'),
       url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.ttf') format('truetype'),
       url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg'),
       url('../fonts/Helvetica/HelveticaBold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.woff2') format('woff2'),
       url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.woff') format('woff'),
       url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.ttf') format('truetype'),
       url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg'),
       url('../fonts/Helvetica/HelveticaLight/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.woff2') format('woff2'),
       url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.woff') format('woff'),
       url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.ttf') format('truetype'),
       url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg'),
       url('../fonts/Helvetica/HelveticaRoman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



