$mainColor: #af1b15;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.container {
    max-width: 1240px;
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    position: relative;
    &-slider {
        position: relative;
        &::before {
            content: '';
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .3), transparent);
            position: absolute;
            z-index: 1;
        }
        &__item {
            height: 700px;
            position: relative;
            padding-top: 90px;
            padding-bottom: 30px;
            overflow: hidden;
            z-index: 2 !important;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .2);
                z-index: 2;
            }
            &.tns-slide-active {
                .hero-slider {
                    &__title, &__footer {
                        opacity: 1;
                        transform: translateX(0px);
                        transition: opacity .5s, transform .5s;
                    }
                    &__footer{
                        transition-delay: .3s;
                    }
                }
            }
        }
        &__footer{
            opacity: 0;
            transform: translateY(-200px);
        }
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__wrap {
            position: relative;
            z-index: 2;
            max-width: 535px;
            width: 100%;
        }
        &__title {
            font-size: 48px;
            font-family: "HelveticaNeue";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.2;
            margin-bottom: 269px;
            opacity: 0;
            transform: translateY(-200px);

        }
        &__desc {
            font: 200 18px 'HelveticaNeue';
            color: rgb(255, 255, 255);
            line-height: 1.2;
            letter-spacing: .3px;
            margin-bottom: 11px;
        }
        &__date, &__watch p {
            font: 200 12px 'HelveticaNeue';
            color: rgb(255, 255, 255);
            line-height: 1;
        }
        &__date {
            margin-right: 10px;
        }
        &__watch {
            .icon {
                margin-right: 3px;
            }
        }
    }
    &-social {
        position: absolute;
        bottom: 27px;
        right: 0;
        z-index: 4;
        &__list {
            background-color: $mainColor;
            height: 48px;
            align-items: center;
            justify-content: center;
            width: 135px;
        }
        &__item {
            transition: opacity .3s;
            &:hover {
                opacity: .6;
            }
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}

.content {
    &__title {
        font: 700 48px 'HelveticaNeue';
        color: #383838;
        line-height: 1.2;
        margin-bottom: 57px;
    }
}

.facts {
    max-width: 963px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 123px;
    &__block {
        max-width: 715px;
        width: 100%;
        margin: 0 auto;
        &_top {
            padding-top: 63px;
            margin-bottom: 88px;
        }
        & > p {
            &:not(:last-child) {
                margin-bottom: 27px;
            }
        }
    }
    &-article {
        &:not(:last-child) {
            margin-bottom: 92px;
        }
        &.facts-article_top {
            margin-bottom: 64px;
        }
        &__header {
            margin-bottom: 39px;
            position: relative;
            &::after {
                content: '';
                display: block;
                background-color: $mainColor;
                height: 2px;
                width: calc(100% - 45px);
                position: absolute;
                left: 0;
                bottom: 4px;
            }
            &::before {
                content: attr(data-number);
                color: rgba(56, 56, 56, 0.102);
                font: 700 153.65px 'HelveticaNeue';
                position: absolute;
                left: -26px;
                top: -23px;
            }
        }
        &__title {
            font: 30px 'HelveticaNeue';
            color: #383838;
        }
        &__number {
            font: italic 48px 'PTSerif';
            color: $mainColor;
            margin-right: 16px;
        }
    }
}

.article {
    &__desc {
        &, &_italic {
            color: #383838;
            font: 20px 'PTSerif';
            line-height: 1.3;
        }
        &_italic {
            font-style: italic;
        }
        &_indent {
            text-indent: 17px;
        }
    }
}

.slider {
    background-color: $mainColor;
    padding: 38px 0 28px 0;
    margin-bottom: 73px;
    &__wrap {
        position: relative;
        & > .tns-outer {
            & > .tns-ovh {
                max-width: 955px;
                width: 100%;
                margin: 0 auto;
            }
        }
        .tns {
            &-controls {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 11px;
                padding: 0 16px;
                width: 100%;
                z-index:4;
                button {
                    color: transparent;
                    background-color: transparent;
                    transition: opacity .3s;
                    &:hover {
                        opacity: .6;
                    }
                    &[data-controls="prev"] {
                        width: 12px;
                        height: 20px;
                        background: url('../img/css_sprites.png') -10px -10px;
                    }
                    &[data-controls="next"] {
                        width: 12px;
                        height: 20px;
                        background: url('../img/css_sprites.png') -42px -10px;
                    }
                }
            }
        }
    }
    &-block {
        &__desc {
            font: 18px 'PTSerif';
            color: #fff;
            line-height: 1.222;
            text-align: center;
        }
        &__img {
            width: 100%;
            height: 530px;
            margin-bottom: 30px;
            object-fit: contain;
        }
    }
}

.footer {
    background-color: $mainColor;
    padding: 54px 0 24px 0;
    text-align: center;
    &__video {
        height: 402px;
        max-width: 715px;
        width: 100%;
        margin: 0 auto;
        object-fit: contain;
        margin-bottom: 123px;
    }
}
