@media screen and (max-width: 1024px) {
    .hero {
        &-slider {
            &__item {
                padding: 70px 0 30px 0;
                height: auto;
            }
            &__title {
                margin-bottom: 200px;
                font-size: 40px;
            }
        }
    }
    .content {
        &__title {
            font-size: 40px;
        }
    }
    .facts {
        &-article {
            &__header {
                &::before {
                    font-size: 120px;
                }
            }
            &__title {
                font-size: 24px;
            }
            &__number {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .hero {
        &-slider {
            &__item {
                padding: 30px 0 60px 0;
            }
            &__title {
                margin-bottom: 100px;
                font-size: 24px;
            }
        }
    }
    .container {
        padding: 0 20px;
    }
    .content {
        &__title {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }
    .facts {
        padding-bottom: 50px;
        &__block {
            & > p {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            &_top {
                padding-top: 30px;
                margin-bottom: 30px;
            }
        }
        &-article {
            &.facts-article_top {
                margin-bottom: 50px;
            }
            &:not(:last-child) {
                margin-bottom: 50px;
            }
            &__header {
                margin-bottom: 40px;
                &::after {
                    display: none;
                }
                &::before {
                    left: 0;
                    top: -16px;
                }
            }
            &__title {
                font-size: 20px;
                font-weight: bold;
            }
            &__number {
                font-size: 30px;
                margin-right:10px;
            }
        }
    }
    .slider {
        padding: 30px 0;
        margin-bottom: 50px;
        .tns {
            &-controls {
                display: none;
            }
        }
        &-block {
            &__img {
                height: auto;
            }
        }
    }
    .footer {
        &__video {
            height: 250px;
            margin-bottom: 50px;
        }
    }
}