.icon{
    background-repeat:no-repeat;
    display: block;
}
.icon-arrow_left {
    width: 12px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.icon-arrow_right {
    width: 12px;
    height: 20px;
    background: url('../img/css_sprites.png') -42px -10px;
}

.icon-fb {
    width: 9px;
    height: 15px;
    background: url('../img/css_sprites.png') -110px -43px;
}

.icon-gp {
    width: 16px;
    height: 15px;
    background: url('../img/css_sprites.png') -74px -10px;
}

.icon-tw {
    width: 16px;
    height: 13px;
    background: url('../img/css_sprites.png') -110px -10px;
}

.icon-watch {
    width: 20px;
    height: 10px;
    background: url('../img/css_sprites.png') -10px -50px;
}